$nav-color: #3498db;
$text-color: #90909a;

body {
	background-color: #ffffff;
	margin: 0px;
	height: 100%;
}

img.profile {
	height: 120px;
	width: 120px;
	margin: 20px 10px 0px 10px;
	border: 3px solid $nav-color;
	border-radius: 100px;
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.39);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.39);
	box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.39);
}

header {
	width: 100%;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
	background-color: #2980b9;
}

td {
	margin: 0px
}

h1.title {
	margin: 0px;
	color: #ecf0f1;
	font-size: 45px;
}

nav {
	height: 30px;
	padding-top: 10px;
	border-top: 1px solid ($nav-color - 20);
	border-bottom: 3px solid ($nav-color - 20);
	background-color: $nav-color;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}

nav a{
	text-decoration: none;
	cursor: pointer;
	font-weight: bolder;
}

nav a:link {
	color: #ED553B;
}

nav a:hover {
	color: #FFFFFF;
}

h2, h3, h4, h5 {
	margin: 15px 0px 5px 0px;
}

h2 {
	color: $text-color - 80; 
	font-size: 40px;
}

h3 {
	margin-top: 20px;
	color: $text-color - 50; 
	font-size: 30px;
}

h4 {
	color: $text-color - 20;
	font-size: 20px;
}

p {
	margin-top: 15px;
	margin-bottom: 5px;
}

a:link {
	text-decoration: none;
}

@mixin font-awesome-icon($icon-size) {
	width: $icon-size;
	height: $icon-size;
	line-height: $icon-size;
	border-radius: $icon-size/2;
	margin: $icon-size/10 $icon-size/12;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	background-color: #90909a;
}

a .icon-sml {
	@include font-awesome-icon(40px);
}

a .icon-lg {
	@include font-awesome-icon(120px);
}

.txt {
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
}

.cntr {
	width: 100%;
	text-align: center;
}

.mrg-auto {
	width: 320px;
	margin: 0px auto;
}

.container {
	background-color: #efefef;
	max-width: 870px;
	width: 80%;
	margin: 20px auto;
	padding: 5px 35px 15px 35px;
	border-radius: 15px; 
}

.down-shaddow {
	-webkit-box-shadow: 0px 40px 120px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 40px 120px -20px rgba(0,0,0,0.75);
	box-shadow: 0px 40px 120px -20px rgba(0,0,0,0.75);
}
