body {
	background-color: #34495e;
	margin: 0px;
}

img.profile {
	height: 120px;
	width: 120px;
	margin: 20px 10px 0px 10px;
	border: 3px solid #2980b9;
	border-radius: 100px;
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.39);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.39);
	box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.39);
}

header {
	width: 100%;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
}

h1.title {
	height: 50px;
	margin-bottom: 0px;
	color: #ecf0f1;
}

nav {
	height: 30px;
	padding-top: 10px;
	background-color: #2980b9;
	margin: auto 0px;
	font-family: 'Muli', sans-serif;
}

nav a{
	cursor: pointer;
	font-weight: bold;
}

nav a:link {
	text-decoration: none;
	color: #000000;
}

nav a:hover {
	color: #ffffff;
}


p {
	font-family: 'Open Sans', sans-serif;
	color: #ecf0f1;
}

.cntr {
	width: 100%;
	text-align: center;
}

.mrg-auto {
	width: 560px;
	margin: 0px auto;
}

.container {
	width: 560px;
	margin: 10px auto;
}



