<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <h2 class="post-link">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
			{{ post.date | date: "%b %-d, %Y" }}
			{% if post.comments %}
				• {% include disqus-comments-count.html url=post.url %}
			{% endif %}
		</span>
    </li>
    {% endfor %}
</ul>

<p align="center" class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
