<div class="info-badges">
    {% for service in page.services %}
        {% if include[service] && page.badges[service] %}
            {% for badge in page.badges[service] %}
                {% assign repl = include[service] %}
                <a class="badge" href='{{ page.urls[service] | replace: "<>", repl }}'>
                    <img alt='{{ service }}' src='https://img.shields.io/{{ badge | replace: "<>", repl }}.svg?maxAge=5592000' />
                </a>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

<div class="info-icons">
    {% for service in page.services %}
        {% if include[service] && page.icons[service] %}
            {% assign repl = include[service] %}
            <a href='{{ page.urls[service] | replace: "<>", repl }}'>
                <i class="fa fa-2x {{ page.icons[service] }}">
                    {% if service == 'npm' %}
                     {% include icon-npm.svg %}
                    {% endif %}
                </i>
            </a>
        {% endif %}
    {% endfor %}
</div>
