{% if page.carousel %}
<script src="{{ "/js/jquery-2.2.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
<script>
// Initialise Carousels
$('.slick').each(function(item){
    $(this).slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        centerMode: true,
        variableWidth: true,
    });
});
</script>
{% endif %}

<script src="{{ "/show-code/build/show-code.min.js" | prepend: site.baseurl }}"></script>
<script>
    window.showCode();
</script>
<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52748568-1', 'auto');
  ga('send', 'pageview');

</script>
