#content {
	background-color: $background-color;
	padding-top: 30px;
	padding-bottom: 20px;
	border-radius: 5px;
}

#sc-container {
	background-color: #1e1e1e;
	// z-index: -1;
}

#sc-container #sc-background {
	border-radius: 0px;
	font-size: 25px;
	padding: 2px;
}

#sc-background-container {
	opacity: 0.18;
}

#home--info {
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		height: 200px;
		width: 200px;
		margin-bottom: 10px;
		text-align: center;
		border: 3px solid $grey-color;
		border-radius: 100px;
	}
}

#contact--links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	svg {
		width: 100px;
		height: 100px;
	}
}

.contact--link {
	display: flex;
	flex-direction: column;
	align-items: center;
    font-weight: bold;

	svg {
		fill: rgb(130, 130, 130);
	}

	h2 {
		text-align: center;
	}
}

nav.site-nav {
	z-index: 1;
}

.page-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
}

.carousel--item {
    img {
        max-height: 300px;
		border-radius: 5px;
    }
    text-align: center;
    margin: 0px 10px;
}

.slick {
    margin: 0px 50px;
}


.post-content {
    hr {
        margin: 20px 0px;
    }

    .center-image {
        margin: 0 auto;
        display: block;
    }

	.image-caption {
		text-align: center;
		font-size: 13px;
		color: $grey-color;
	}
}

.info-icons > a{
    text-decoration: none;
    color: $grey-color-dark;
    margin-right: 10px;
}

.info-badges {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 15px;
    a { text-decoration: none; }
}

.badge {
    padding: 0px 10px 5px 0px;
}

.fa-npm {
    svg {
        fill: $grey-color-dark;
        height: 100%;
        width: 55px;
    }
}
