<!DOCTYPE html>
<html>
<!-- 
HEAD
 -->
<head>
	<link rel='stylesheet' href='/assets/application.css'/>
	<script src="/assets/application.js" type="text/javascript"></script>
	<title>Harold Treen</title>
</head>

<!-- 
HEADER
 -->
<header>

	<div>
		<img class='profile' src="assets/profile.png">
		<h1 class='title'>Harold Treen</h1>
	</div>
</header>


<!-- 
BODY
 -->
<body>
	<nav class='cntr'>
		<a href="/">Home</a> | 
		<a href='/projects'>Projects</a> |
		<a href='/about'>About</a> |
		<a href='/contact'>Contact</a>
	</nav>
	<div class='container'>
		<p>
			Bacon ipsum dolor sit amet ham hock laborum incididunt tongue. Esse bacon culpa brisket frankfurter aute cow strip steak nostrud qui ball tip pastrami chicken. Turkey filet mignon eu ham bacon frankfurter exercitation, esse brisket pork belly sed meatloaf. Aliquip fugiat strip steak nulla filet mignon officia.

			Do deserunt nostrud short loin nulla dolore venison anim. Et fugiat cow kevin pork belly pork tempor doner capicola leberkas. Sunt meatball anim adipisicing. Rump ullamco ad pastrami sunt kevin pork belly, do aute shoulder ham hock capicola leberkas.

			Nisi fatback ball tip, elit cow laborum pancetta frankfurter consectetur excepteur aute doner incididunt turducken ut. Magna consectetur proident, nisi excepteur kielbasa strip steak jowl. Ham hock pastrami laborum, sunt beef ground round qui in jerky. Spare ribs laboris jerky tongue, pancetta rump deserunt quis.

			Rump dolore laboris, laborum short loin culpa labore deserunt nisi irure consequat sausage capicola tenderloin. Pork leberkas jerky, in andouille swine filet mignon duis strip steak. Sed duis labore t-bone, brisket andouille sunt ut boudin. Turkey short ribs sunt laboris culpa eiusmod. Aliqua ad ham, laboris eiusmod duis minim ex kevin hamburger chicken kielbasa.

			Cupidatat biltong dolor, veniam velit dolore leberkas capicola ham incididunt pastrami shank short ribs bresaola nulla. Aute ex pariatur et ut consequat kevin fatback veniam tongue consectetur eiusmod chicken. Ribeye velit ex fatback, magna drumstick exercitation et incididunt pork belly laborum sed aliqua laboris. Jerky short loin ball tip officia hamburger fugiat doner. Short loin tenderloin et labore meatball. Fugiat meatloaf do ea quis incididunt bresaola labore excepteur. Brisket consectetur ham hock ullamco reprehenderit cupidatat adipisicing dolore ut meatball.
		</p>
	</div>
</body>

<!--
FOOTER
-->
<footer>
	
</footer>

</html>
